<body>
    {% include 'partials/navbar.html' %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p style="color:rgb(21, 205, 21)"><b>{{ message }}</b></p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<div class="details content">
    <h2>{{content.title}}</h2>
    <p>{{content.snippet}}</p>
    <p>{{content.body}}</p>
</div>
<div class="details content">
    <a href="{{url_for('delete_blog', blog_id=content._id)}}" class="delete">DELETE</a>
    <a href="{{url_for('update_blog', blog_id=content._id)}}" class="update">UPDATE</a>
</div>
</body>