<body>
    {% include 'partials/navbar.html' %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p style="color:rgb(21, 205, 21)"><b>{{ message }}</b></p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<div class="details content">
    <h2>{{content.title}}</h2>
    <p>{{content.snippet}}</p>
    <p>{{content.body}}</p>
</div>
<div class="details content">    
    <a href="{{url_for('upd_blog', blog_id=content._id)}}" class="update">UPDATE</a>
    <br><br>
    <form action="/delete_blog/{{ content._id }}" method="post">
        <input type="submit" class="Delete" value="Delete" onclick="return confirm('Entry will be deleted permanently\nAre you sure?')">
    </form>
</div>
</body>